exp/*
__pycache__/
A_paper_config/*
*.ipynb
backup/
past_exp/
exp_module/
configs_module/
embedding_new/
exp_multi/
exp_multi_error/
configs_module/
remove_this/
configs_tb/
configs_korean/
configs_papers/
configs_vox12/
exp_korean/
exp_model/
exp_papers/
exp_vox12/
data/list_test_all.txt
data/list_test_hard.txt
data/train_list_Korean.txt
data/train_list_vox12.txt
configs_multi/
lightning_log/
configs_legacy/
onnx/
aam_log/
exp_metric/
configs_metric/
exp_multiple/
configs_multiple/
preprocessing/convmelspec/
tb_*/*
configs_compet/*
exp_compet/*
exp_vad_short/*
z_vad/*
configs_inference/*
exp_inference/*
configs_vad_short/*
configs_model/*
data/train_list_vad*
*.wav
*.xlsx
*.ckpt
configs_compet_aam/*
exp_compet_aam/*
configs_compet_msc_tune/*
exp_compet_msc_tune/*
experiments/*_test/*
z_model_ckpt.ipynb
ignore_folder/*
